.scroll-container {
  display: flex;
  align-items: center;
  overflow-x: auto;
  position: relative;
  white-space: nowrap;
  padding-bottom: 20px;
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


.p-content-style{
  height: 250px;
}

.product-icon {
    flex: 0 0 auto;
    width: calc(100% / 4 - 0.5rem); /* 4 proizvoda po redu na desktopu */
    margin-right: 0.5rem; /* Margina između proizvoda */
    box-sizing: border-box; /* Uverite se da padding i border ne utiču na širinu */
  }
  
  @media (max-width: 768px) {
    .product-icon {
      width: calc(60% - 0.5rem); /* 2 proizvoda po redu na mobilnim uređajima */
    }

    .p-content-style{
      height: auto;
    }
  }
  
  .product-icon:last-child {
    margin-right: 0; /* Uklanja margina za poslednji element */
  }
  
  
  .scroll-indicator svg {
    width: 24px;
    height: 24px;
  }
  
  
  .scroll-indicator {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 10;
    display: none;
}

  
.scroll-container.show-indicator .scroll-indicator {
  display: flex;
}
  
  .scroll-container.scrolled .scroll-indicator {
    opacity: 0; /* Nestaje kada se skroluje */
  }
  /* styles.css */
  .carousel-image {
    width: auto; /* Širina slike je automatska */
    height: 100%; /* Visina slike je 100% roditeljskog kontejnera */
    object-fit: cover; /* Obezbedite da slike zadrže proporcije i popune prostor */
  }
  
  .carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
  }
  
  .carousel-dot {
    width: 0.75rem; /* Veličina kružića */
    height: 0.75rem; /* Veličina kružića */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
    cursor: pointer; /* Dodajte kursor pointer za klikabilnost */
  }
  
  .carousel-dot.active {
    background-color: white;
  }
  .font-lora {
    font-family: 'Lora', serif;
  }
  .scroll-indicator.left {
    left: 10px;
}

.scroll-indicator.right {
    right: 10px;
}
.scrolled .scroll-indicator.left {
  display: flex;
}

.product-icon {
  display: inline-block;
  margin: 0 10px;
}
@media (min-width: 768px) {
  .product-icon {
    width: calc(100% / 4 - 0.5rem); /* 4 proizvoda po redu na desktopu */
  }
}

.blog-big-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
  cursor: pointer; /* Da pokaže da je slika klikabilna */
}

/* Responsive dizajn za manje ekrane */
@media (max-width: 1024px) {
  .blog-big-image  {
      height: 450px; /* Visina za tablet uređaje */
  }
}

@media (max-width: 768px) {
  .blog-big-image  {
      height: 450px; /* Visina za mobilne uređaje */
  }
}

.fade {
  animation: fade 1s ease-in-out; /* Povećaj trajanje animacije za glatki prelaz */
}

@keyframes fade {
  0% { opacity: 0; } /* Početno stanje potpuno transparentno */
  50% { opacity: 0.5; } /* Polu-transparentno u sredini animacije */
  100% { opacity: 1; } /* Kraj animacije potpuno vidljivo */
}
